body {
  background: #000000;
  color: white;
  margin: 0;
  padding: 0px;
}

/* HEADER SECTION */

header {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;

  background: rgba(0, 0, 0, 0.26);
  font-size: 18px;
}

/* HEADER PARTS */

.logoContainer {
  font-weight: 700;
}

.menuItems > div {
  padding: 10px 20px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}

.selected {
  background: white !important;
  color: black !important;
}

.menuItems > div:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: black;
}
.leftSection {
  display: flex;
  align-items: center;
}
.rightSection {
  display: flex;
  align-items: center;
}
/*  END OF HEADER PARTS */

/* HEADER ITEMS */
.divider {
  height: 100%;
  width: 2px;
  border-right: 1px solid white;
  border-radius: 0 !important;
}

.profileIcon {
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff43;
  align-items: center;
  justify-content: center;
}
.divider:hover {
  background: none !important;
}
.searchAndLang {
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: 1.5px;
}
.joinPrimeButton {
  background: #157bcf;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
}
/* END OF HEADER ITEMS */

@media screen and (max-width: 1000px) and (min-width: 300px) {
  .menuItems {
    display: none;
  }

  .joinPrimeButton {
    display: none;
  }

  .menuButton {
    display: flex;
    align-items: center;
  }
}

/* END OF HEADER SECTION */

/* Section 01 */
.HomeSection01 {
  width: 100%;
  background: linear-gradient(90deg, black 40%, #0731a1 100%);
}

.posterInsetShadow {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.842) 35%,
      rgba(0, 0, 0, 0.373) 50%
    ),
    url(./assests/posters/largeTVSHow\ poster.jpg) no-repeat center center;
  background-size: cover;
}

.wordSpacing {
  word-spacing: 0.5rem;
}
