body {
  background: #000000;
  color: white;
  margin: 0;
  padding: 0px;
}

/* HEADER SECTION */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  width: 80vw;
}

/* HEADER PARTS */

.menuButton {
  display: none;
}
.logoContainer {
  font-weight: 700;
  font-size: 24px;
}
.menuItems {
  display: flex;
  gap: 40px;
}
.leftSection {
  display: flex;
  align-items: center;
  gap: 30px;
}
.rightSection {
  display: flex;
  align-items: center;
  gap: 40px;
}
/*  END OF HEADER PARTS */

/* HEADER ITEMS */
.divider {
  height: 100%;
  width: 2px;
  border-right: 1px solid white;
}
.searchAndLang {
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: 1.5px;
}
.joinPrimeButton {
  background: #157bcf;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
}
/* END OF HEADER ITEMS */

/* END OF HEADER SECTION */

/* Section 01 */
.HomeSection01 {
  width: 100%;
  background: linear-gradient(90deg, black 40%, #0731a1 100%);
}
