* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  border: 2px saddlebrown solid;
  height: 250px;
  width: 250px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
}

.navbar {
  margin-bottom: 100px;
  display: flex;
  padding: 20px 70px;
  border-bottom: 2px solid hotpink;
  justify-content: space-around;
  align-items: center;
  color: hotpink;
}

#menuButtons {
  display: flex;
  gap: 50px;
  font-size: 20px;
  font-weight: 700;
  /* border: 2px solid black; */
}

#menuIcon {
  display: none;
}

#logo {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 40px;
  color: hotpink;
}

.boxgroup {
  margin: 30px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: auto auto auto auto auto;
}

.box {
  background-color: hotpink;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none;
}

@media screen and (min-width: 400px) and (max-width: 550px) {
  h1 {
    color: red;
  }

  .container {
    display: block;
    margin: auto;
  }

  .box {
    margin: auto;
  }

  .navbar {
    padding: 20px 10px;
    gap: 50px;
  }

  .navbar #menuButtons {
    display: none;
  }

  .navbar #menuIcon {
    display: flex;
  }
  body {
    background: hotpink;
  }
  #logo {
    color: white;
  }
  .navbar {
    border-bottom: 1px solid white;
  }
  .boxgroup {
    grid-template-columns: auto auto;
  }
  .box {
    color: hotpink;
    background-color: white;
  }
}

.imageGroup {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2rem;
  justify-content: space-around;
}

.images {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hotpink;
  font-size: 24px;
  font-weight: 700;
  border-radius: 20px;
  padding-bottom: 20px;
}

.images img {
  height: 250px;
  width: 280px;
  border-radius: 20px;
}

.images img:hover {
  height: 270px;
  width: 300px;
  box-shadow: 0 0 20px 3px hotpink;
}

@media screen and (min-width: 930px) and (max-width: 1200px) {
  .imageGroup {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1050px) {
  .boxgroup {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .imageGroup {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 670px) and (max-width: 900px) {
  .boxgroup {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 500px) and (max-width: 670px) {
  .boxgroup {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 500px) {
  .boxgroup {
    grid-template-columns: auto;
    justify-content: center;
  }
  .navbar #menuButtons {
    display: none;
  }

  .navbar #menuIcon {
    display: flex;
  }
  .imageGroup {
    grid-template-columns: auto;
    justify-content: center;
  }
}
